#share-form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 65vh;
  justify-content: space-around;
  margin: 10vh auto;
  padding: 2vh 20vh;
  text-align: center;
  width: 40vw;
}

#share-form button {
  align-self: center;
  background-color: blue;
  border-radius: 6px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  width: 15vw;
}

.share {
  text-align: center;
  font-size: 2rem;
}

@media only screen and (max-width: 1800px) {
  #share-form {
    
    height: 63vh;
    padding: 2vh 5vh;
    text-align: center;
    width: 95vw;
  }

  #share-form button {
    font-size: .75rem;
    padding: 1.5vh;
    width: 30vw;
  }

  .share {
    text-align: center;
    font-size: 1.5rem;
  }
}
