
.film-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  overflow: scroll;
  width: fit-content;
}
iframe {
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 264px rgba(0, 0, 0, 0.07);
  /* height: auto; */
  margin: 3vh;
  width: 49.95vh;
}

.film-text {
  text-align: center;
  color: white;
}
.film-text:hover{
  color: black;
}



