#comment-window > p {
  background-color: lightgray;
  border-radius: 6px;
  font-size: 1rem;
  justify-content: center;
  margin: 1vh auto;
  padding: 5px;
  width: 20vw;
}
#comment-window {
  border: 3px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  grid-area: window;
  height: 60vh;
  justify-content: space-between;
  margin: 10vh 0 0 0;
  width: 25vw;
}

em {
  color: black;
}

li {
  margin: 0 5px;
  list-style-type: none;
}

strong {
  color: royalblue;
}
