article {
  background-image: url(../../art-image/redball.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% 1f 1f 10%;
  width: 100vw;
  min-height: 100vh;
  grid-template-areas:
    ". . . ."
    ". W W ."
    ". W W ."
    ". . . .";
}

.article-wrap {
  border-radius: 6px;
  grid-area: W;
  opacity: 0.6;
  padding: 0.5rem;
  background-color: #ffffff;
  width: fit-content;
  height: fit-content;
}

.article-title {
  font-size: 4rem;
  padding: 1rem;
  color: #000000;
}

.article-context {
  font-size: 2rem;
  color: #000000;
  padding: 0.5rem;
  text-align: justify;
}

@media only screen and (max-width: 900px) {
  article {
    grid-template-columns: 1fr;
    grid-template-areas:
      "."
      "W"
      ".";
  }

  .article-title {
    font-size: 2rem;
  }

  .article-context {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .article-title {
    font-size: 1.8rem;
  }

  .article-context {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  article {
    grid-template-columns: 1fr;
    grid-template-areas:
      "."
      "W"
      ".";
  }

  .article-title {
    font-size: 1.2rem;
  }

  .article-context {
    font-size: 1rem;
  }
}
