/* article {

}



@media only screen and (max-width: 600px) {
  article {
    height: 86vh;
  }

  .home-container {
    position: static;
  }

  .home-container h1 {
    font-size: 25px;
  }

  .home-container p {
    font-size: 12px;
    padding: 10px;
  }

  .home-word-wrap {
    height: 0;
    margin: 20% auto;
    position: static;
    text-align: justify;
    width: 90%;
  }
} */
