article {
  /* background-image: url(../../art-image/redball.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 88vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
}

.home-container {
  position: relative;
}

.home-container h1 {
  color: black;
  font-size: 80px;
}
#home-container p {
  margin-top: 5px;
  font-size: 50px;
  font-weight: bold;
}

.home-word-wrap {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 45%;
}

@media only screen and (max-width: 1600px){
  
  .home-container h1 {
    font-size: 60px;
  }

  .home-container p {
    font-size: 27px;
    padding: 15px;
  }
  .home-word-wrap {
    height: 0;
    margin: 20% auto;
    position: static;
    text-align: justify;
    width: 90%;
  }

}

@media only screen and (max-width: 900px) {

  article {
    height: 88vh;
  }

  .home-container {
    position: static;
  }

  .home-container h1 {
    font-size: 45px;
  }

  .home-container p {
    font-size: 21px;
    padding: 10px;
  }

  .home-word-wrap {
    height: 0;
    margin: 20% auto;
    position: static;
    text-align: justify;
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  article {
    height: 86vh;
  }

  .home-container {
    position: static;
  }

  .home-container h1 {
    font-size: 25px;
  }

  .home-container p {
    font-size: 12px;
    padding: 10px;
  }

  .home-word-wrap {
    height: 0;
    margin: 20% auto;
    position: static;
    text-align: justify;
    width: 90%;
  }
}
