a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

.nav-container {
  align-items: center;
  background-color: white;
  border-bottom: 2px solid black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vw;
}

.nav-links {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  list-style-type: none;
  
}

.nav-title {
  padding-left: 20px;
}

li{
  padding-right: 10px;
}

@media only screen and (max-width: 400px) {
  li {
    padding-right: 7px;
  }
  .nav-links {
    font-size: 12px;
  }
  .nav-title {
    font-size:12px;
    padding: 0 5px;
  }
  
}