a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}
.fa-hamburger {
  display: none;
}

header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.nav-container {
  align-items: center;
  background-color: white;
  border-bottom: 2px solid black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  font-size: 30px;
  justify-content: flex-end;
  list-style-type: none;
  
}

.nav-title {
  font-size: 17px;
  padding-left: 20px;
}

li{
  padding-right: 50px;
}

@media only screen and (max-width: 1600px) {
  li {
    padding-right: 14px;
  }
  .nav-links {
    font-size: 25px;
  }
  
}

@media only Screen and (max-width: 900px){

  li {
    padding-right: 14px;
  }
  .nav-links {
    font-size: 20px;
  }
  .nav-title {
    font-size: 20px;
    padding: 0 9px;
  }
}

@media only screen and (max-width: 400px) {
  li {
    padding-right: 7px;
  }
  .nav-links {
    font-size: 12px;
  }
  .nav-title {
    font-size:12px;
    padding: 0 5px;
  }
  .fa-hamburger {
    display: inline;
  }
  
  
}

