a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}
.fa-bars {
  display: none;
}

header {
  background: white;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.nav-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  font-size: 2rem;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-title {
  font-size: 1.7rem;
  padding-left: 1rem;
}

li {
  padding-right: 2rem;
}

@media only screen and (max-width: 1600px) {
  li {
    padding-right: 1rem;
  }

  .nav-links {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  li {
    padding-right: .5rem;
  }
  .nav-links {
    font-size: 1.6rem;
  }
  .nav-title {
    font-size: 1.6rem;
    padding: 0 .9rem;
  }
}

@media only screen and (max-width: 400px) {
  li {
    padding-right: 1rem;
  }
  .nav-links {
    font-size: 1.3rem;
    flex-direction: column;
    overflow: visible;
  }
  .nav-title {
    font-size: 1.2rem;
    padding: 0 .5rem;
  }
  .fa-bars {
    font-size: 1.8rem;
    display: inline;
    margin-right: 1rem;
  }
}
