
.footer {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  width: 100vw;
}
.footer > * {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {

  .footer > * {
    font-size: 11px;
  }
}