
/* .footer {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 5px;
  position: absolute;
  bottom: 0;
  width: 100vw;
}
.footer > * {
  font-size: 11px;
  /* padding-top: 15px; */
  /* margin: 0 auto;
}

@media only Screen and (max-width: 900px){

  .footer > * {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {

  .footer > * {
    font-size: 11px;
  }
}
 */ 
