.art-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  /* justify-content: center; */
  overflow: scroll;
  width: 100vw;
}

.art img {
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 264px rgba(0, 0, 0, 0.07);
  margin: 2.41vw;
  width: 41.95vh;
}

