/* .card {
  height: fit-content;
  grid-area: image;
  margin: 2.79vh 0 0 0px;
  text-align: center;
  padding-left: 2.09vh;
  width: fit-content;
}

#comment-form {
  background-color: rgb(84, 81, 81);
  border: 3px solid black;
  border-radius: 6px;
  display: flex;
  grid-area: form;
  flex-direction: column;
  margin-top: 0.5vh;
  width: 25vw;
}

#comment-form input {
  border: 2px solid black;
  font-size: 1rem;
  margin: 1vh auto;
  text-align: center;
}

#comment-form button {
  background-color: royalblue;
  border: 2px solid black;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  margin: 5px auto;
  width: 30%;
}

#comment-window > p {
  background-color: lightgray;
  border-radius: 6px;
  font-size: 1rem;
  justify-content: center;
  margin: 1vh auto;
  padding: 5px;
  width: 20vw;
}
#comment-window {
  border: 3px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  grid-area: window;
  height: 60vh;
  /* justify-content: space-between; */
  
/* } */

/* em {
  color: black;
}

.inline {
  display: inline;
}

li {
  margin: 0 5px;
  list-style-type: none;
}

#logo {
  background-color: inherit;
  border: none;
  margin: 0 5px;
  width: 50px;
  height: auto;
}

.logo-container {
  display: flex;
  font-size: 40px;
  justify-content: space-between;
  margin:0 auto;
  max-width: 75%;
  max-height: 75%;
}

.showcase-container {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "image image image image window window"
    "image image image image   form form";
  height: 100vh;
}

.showcase-container img {
  border-radius: 8px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 264px rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  max-width: 75%;
  max-height: 75%;
  border: 2px solid black;
}

.showcase-container h3 {
  font-size: 30px;
  margin: 30px;
  width: fit-content;
}

strong {
  color: royalblue;
}

@media only screen and (max-width: 1600){
  .showcase-container img {
    width: 80%;
    height: 80;
  }

  #comment-window {
    margin-top:30vh;
    width: 100vw;
  }
  
}

@media only screen and (max-width: 900px) {
  .card {
    text-align: center;
  }

  #comment-form {
    grid-area: form;
    margin: 0.5vh auto;
    width: 40vw;
    justify-content: center;
  }

  #comment-form input {
    border: 2px solid black;
    font-size: 1rem;
    margin: 1vh auto;
    text-align: center;
  }

  #comment-form button {
    background-color: royalblue;
    border: 2px solid black;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    /* text-align: center; */
    /* margin: 5px auto;
    width: 30%; */
  /* }

  #comment-window > p {
    width: 30vw;
  }

  #comment-window {
    margin: 3vh auto 0 auto;
    width: 40vw;
  }

  .logo-container {
    justify-content: space-between;
    margin: 0 auto;
  }

  .showcase-container {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    height: 30vh;
    grid-template-areas:
      "image window"
      "image form";
  }
}

@media only screen and (max-width: 600px) {
  .card {
    text-align: center;
  }

  #comment-form {
    grid-area: form;
    margin: 0.5vh;
    width: 95vw;
  }

  #comment-form input {
    border: 2px solid black;
    font-size: 1rem;
    margin: 1vh auto;
    text-align: center;
  }
  #comment-form button {
    background-color: royalblue;
    border: 2px solid black;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    margin: 5px auto;
    width: 30%;
  }

  #comment-window > p {
    width: 80vw;
  }

  #comment-window {
    padding: 20px;
    margin: 3vh auto 0 auto;
    width: 95vw;
  }

  .logo-container {
    justify-content: center;
    margin: 0 auto;
  }

  .showcase-container {
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "window"
      "form ";
  } 
}  */
