* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: inherit;
  position: relative;
  min-height: calc(100vh-80px);
  /* overflow: hidden; */
  padding-bottom: 56px;
}



html {
  height: 100%;
  /* overflow: hidden; */
}
