* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.art-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: black; */
  width: 100vw;
  height: auto;
}
.art img {
  width: 300px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 264px rgba(0, 0, 0, 0.07);
}
article {
  display: flex;
  flex-direction: column;
  width: 33vh;
}

.art iframe {
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 264px rgba(0, 0, 0, 0.07);
}
.card {

  /* background-color: yellow; */
  margin:20px 0 0 0px;
  padding-left: 15px;
  width: fit-content;
  height: fit-content;

}

.inline {
  display: inline;
}
li {
  margin: 0 5px;
  list-style-type: none;
}

.home-container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  /* flex-direction: column; */
}
#home-img-left {
  width: 33vw;
  overflow: hidden;
}
#home-img-left img {
  height: 100vh;
  overflow: hidden;
}

#home-img-right img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 33vw;
  height: 100vh;
}

.home-para-container {
  align-self: center;
  justify-self: center;
  width: 500px;
}

.home-para {
  line-height: 1.5em;
}
.home-title {
  font-size: 30px;
}
.home-title-container {
  align-self: center;
  text-align: center;
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.showcase-container {
  width: 100vw;
  display: grid;
  grid-template-areas: 
  "Image"
  "Icons"
  "Text";

  
}

.showcase-container img {
  border-radius: 8px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 264px rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  max-width: 75%;
  max-height: 75%;
  border: 2px solid black;
  grid: Image;
}
.showcase-container h3 {
  font-size: 30px;
  margin: 30px;
  /* text-align: center; */
  grid-area: Text;
  width: fit-content;
}
.showcase-container p {
  font-size: 40px;
  width: fit-content;
}
.nav-container {
  align-items: center;
  background-color: white;
  border-bottom: 2px solid black;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  width: 100vw;
}

.nav-links {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.nav-title {
  padding-left: 20px;
}
ul:last-child {
  padding-right: 15px;
}

#logo {
  background-color: inherit;
  border: none;
  margin: 0 5px;
  width: 50px;
  height: auto;
}

