*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
}
li {
  margin: 0 5px;
  list-style-type: none;
}

.nav-container {
  align-items: center;
  background-color: gray;
  justify-content: space-between;
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}




