* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


.art-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: black; */
  width: 100vw;
  height: auto;
}
.art img {
  width: 41.95vh;
  margin: 2.41vw;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 264px rgba(0, 0, 0, 0.07);
}
article {
  background-image: url(./art-image/redball.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* object-fit: cover; */
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  margin: 0;
  padding: 0;
}

.art iframe {
  margin: 1.39vh;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 264px rgba(0, 0, 0, 0.07);
}

body {
  background: inherit;
  position: relative;
  min-height: calc(100vh-80px);
  padding-bottom: 56px;
}

.card {
  margin:2.79vh 0 0 0px;
  padding-left: 2.09vh;
  width: fit-content;
  height: fit-content;
  grid-area: image;
  
}

#comment-window > p {
  font-size: 1rem;
  background-color: lightgray;
  border-radius: 6px;
  justify-content: center;
  margin:1vh auto;
  padding: 5px;

}

#comment-window {
  grid-area: window;
 
  border: 3px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10vh 0 0 0;
  width: 25vw;
  height: 60vh;
}

#comment-form {
  grid-area: form;
  border: 3px solid black;
  border-radius: 6px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  margin-top: .5vh;
  width: 25vw;
}
  

#comment-form input {
  border: 2px solid black;
  font-size: 1rem;
  margin: 1vh auto;
  text-align: center;
}
#comment-form button {
  background-color: royalblue;
  border: 2px solid black;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  
  margin:5px auto;
  width: 20%;
}
em {
  color: black;
}

.footer {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  width: 100vw;
}
.footer > *{
margin: 0 auto;
}
#home-container {
  position: relative;;
}

#home-container h1 {
  font-size: 40px;
  font-weight: bolder;
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-color: black
  
}
#home-container p {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  
}
.home-word-wrap {
  position: absolute;
  top: 30%;
  left:20%;
  width: 45%;
}


#share-form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: space-around;
  margin: 10vh auto;
  padding: 2vh 20vh;
  text-align: center;
  width: 40vw;
}

#share-form button {
  align-self:center;
  background-color: blue;
  border-radius: 6px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  width: 15vw;
}
strong {
  color: royalblue;
}

.inline {
  display: inline;
}
.share {
  text-align: center;
  font-size: 2rem;
}
li {
  margin: 0 5px;
  list-style-type: none;
}



html {
  height: 100%;

}
main {
  /* background-image: url(./art-image/redball.jpeg); */
}

.showcase-container {
  width: 100vw;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "image image image image window window"
  "image image image image   form form"
  }

.showcase-container img {
  border-radius: 8px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 264px rgba(0, 0, 0, 0.07);
  margin: 0 auto;
  max-width: 75%;
  max-height: 75%;
  border: 2px solid black;
  
}
.showcase-container h3 {
  font-size: 30px;
  margin: 30px;
  /* text-align: center; */
  /* grid-area: 'Text'; */
  width: fit-content;
}
.logo-container {
  display:flex;
  justify-content: space-between;
  font-size: 40px;
  max-width: 75%;
  max-height: 75%;
}
.nav-container {
  align-items: center;
  background-color: white;
  border-bottom: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
}

.nav-links {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.nav-title {
  padding-left: 20px;
}
ul:last-child {
  padding-right: 15px;
}

#logo {
  background-color: inherit;
  border: none;
  margin: 0 5px;
  width: 50px;
  height: auto;
}

